*{
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: rgb(236, 173, 0);
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
}

nav > a{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

nav > a:hover{
    background-color: rgb(201, 147, 0);
}

.page{
    height: 100%;
    width: 100%;
    padding: 10vh 20% 0 20%;
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
}

.page-title{
    font-size: 20pt;
}

.table-container{
    background-color: white;
    padding: 40px;
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border-right: 1px solid black;
    padding: 20px;
}

td:last-child, th:last-child{
    border-right: none;
}

tbody tr:last-child{
    border-bottom: none;
}

tr{
    border-bottom: 1px solid black;
}

td > img{
    height: 25px;
}

tr > td:last-child:hover{
    background-color: rgb(236, 173, 0);
    cursor: pointer;
}

tbody > tr > td:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-top{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.btnAdd{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background: none;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: .3s;
}

.btnAdd:hover{
    border-color: black;
    color: black;
    background-color: rgb(236, 173, 0);
}

.modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
}

.modal-container{
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    min-width: 20%;
    min-height: 20%;
    padding-top: 65px;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: 700;
}

.escondido{
    display: none!important
}

.modal-top{
    background-color: rgb(236, 173, 0);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    height: 50px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-control{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    flex: 3;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #444;
}

input:focus{
    outline: none;
    border-color: black;
    box-shadow: 0 0 5px black;
}

label{
    flex: 1;
}

.btn{
    padding: 5px;
    font-size: large;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(201, 147, 0);
}

.error{
    background-color: rgb(238, 148, 148);
    color: rgb(112, 20, 20);
    padding: 10px;
}

.loading{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    position: relative;
}

.loading-circle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid rgb(201, 147, 0);
    position: relative;
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.inner-circle{
    height: 40px;
    width: 40px;
    border: 5px solid rgb(236, 173, 0);
    border-radius: 40px 0 0 0;
    position: absolute;
    top: -5px;
    left: -5px;
}

.loading-circle::after{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}

.check-small{
    height: 5px;
    width: 25px;
    background-color: rgb(236, 173, 0);
    position: absolute;
    left: 15px;
    top: 45px;
    transform: rotateZ(50deg);
    z-index: 2;
}

.check-long{
    height: 5px;
    width: 40px;
    background-color: rgb(236, 173, 0);
    position: absolute;
    right: 15px;
    top: 38px;
    transform: rotateZ(-55deg);
    z-index: 1;
}

.cover-1{
    height: 5px;
    width: 25px;
    background-color: white;
    position: absolute;
    left: 15px;
    top: 45px;
    transform: rotateZ(50deg);
    z-index: 2;
}

.cover-2{
    height: 5px;
    width: 40px;
    background-color: white;
    position: absolute;
    right: 15px;
    top: 38px;
    transform: rotateZ(-55deg);
    z-index: 1;
}

.animate-long{
    animation-name: c2sai;
    animation-timing-function: ease-out;
    animation-delay: .2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: .2s;
}

.animate-small{
    animation-name: c1sai;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: .2s;
}

.stop{
    animation: none;
}

.round{
    border-radius: 50%;
}

.fade-inner{
    transition: .3s;
    width: 80px;
    height: 80px;
}

@keyframes load {
    100%{
        transform: rotateZ(-360deg);
    }
}

@keyframes c1sai {
    100%{
        left: 50.15px;
        top: 70px;
        width: 0;
    }
}

@keyframes c2sai {
    100%{
        left: 50.15px;
        top: 10px;
        width: 0;
    }
}

.remove{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    font-size: large;
}

#carplaca{
    color: rgb(236, 173, 0);
}

.form-control > select{
    flex: 3;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #444;
}