* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

aside{
    width: 20vw;
    height: 100vh;
    background-color: rgb(64, 136, 184);
}

ul{
    list-style: none;
}

ul > li {
    margin: 15px;
}

main{
    width: 80vw;
    height: 100vh;
    padding: 15px;
}

.modal{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
}

.modal-content{
    width: 350px;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    justify-content: space-evenly;
    gap: 10px;
}

.model{
    display: none;
}

.modal-content > button{
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}

.modal-content-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-title{
    font-size: 16pt;
}

.modal-content-footer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn{
    padding: 10px 15px;
}

.confirm{
    background-color: rgb(44, 124, 177);
    color: white;
}

.cancel{
    background-color: rgb(197, 228, 247);
    color: rgb(44, 124, 177);
    border: 1px solid rgb(44, 124, 177);
}

input{
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    margin-top: 10px;
}